body {
  font-family: Arial, sans-serif;
  background-color: #66c9fb;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 150px auto;
  background: rgb(173, 230, 245);
  padding: 35px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 6px;
}

h1, h2, h3 {
  text-align: center;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

#bikeInfo {
  margin-top: 20px;
  background: #79dff9;
  padding: 15px;
  border-radius: 6px;
}
